@model Book

<div class="col-sm-4 col-la-4 col-md-4">
  
    <div class="caption">
        <h1><a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a> </h1>
        <h2>@Model.Author</h2>

    </div>
</div>
